PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/sheets-manager
JWT_SECRET=change-this-to-a-long-random-secret
ADMIN_EMAIL=ranjith.kumardevendhiran@tvs.in
ADMIN_PASSWORD=Ranj@199826
# Frontend URL for CORS
CLIENT_URL=https://sheet-front.onrender.com
# Set this to true if the backend service should serve the built frontend
SERVE_CLIENT=false
